<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryit.order.mapper.BusiOrderCertificateMapper">
    <resultMap id="BaseResultMap" type="com.ryit.commons.entity.pojo.BusiOrderCertificate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="image_id" jdbcType="VARCHAR" property="imageId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, image_id,create_date
    </sql>

    <insert id="insertBatch" parameterType="com.ryit.commons.entity.pojo.BusiOrderCertificate">
        insert into busi_order_certificate (id, order_id, image_id,create_date) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.orderId,jdbcType=BIGINT},
            #{item.imageId,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP}
            )
        </foreach>

    </insert>

    <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from busi_order_certificate
        where order_id = #{orderId,jdbcType=BIGINT}
    </select>

</mapper>